*{
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    font-family: cursive;
    
}
@keyframes scaleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
    }
header{
    color:rgb(83, 6, 94);
    text-align: center;
    text-shadow:2px 1px 2px rgb(184, 13, 236);
    animation: scaleAnimation 3s ease-out;

    }
body{
   /* box-shadow: 1px 2px 20px rgba(67, 58, 187, 0.5);*/
    background-color: #70a73e;
    background: radial-gradient(circle, #72ac3c 0%, #BFEA7C 100%);
    text-decoration-thickness: 2px;
    font-size:medium;
}

nav
{
    position: relative;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    background-color:rgb(83, 6, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}
nav a
{
position: relative;
display: inline-block;
font-size: 1em;
font-weight: 100;
color:black;
text-decoration: none;
padding:0 23px;
z-index: 1;
}
nav span
{
position: absolute;
top: 0;
left: 41%;
width:  20%;
height: 100%;
background: linear-gradient(45deg, #025c1d,#7bf01c);
border-radius: 8px;
transition: 0.7s;
}
nav a:nth-child(1):hover~span
{
    left: 15%;
    width: 18%;
}
nav a:nth-child(2):hover~span
{
left: 40%;
width: 23%;
}
nav a:nth-child(3):hover~span
{
left:65%;
width: 17%;
}
h3
{
    text-decoration: underline;
    margin: 20px;
    color: purple;
    text-align:center;

}
article {
    display: flex;
    align-items:flex-start;
    padding: 20px;
    margin: 20px;
}
h4
{
    color: purple;
}
@keyframes fadeAnimation{
    0% {opacity:0.8} ;
    50% {opacity:0.3};
    100% {opacity:0.8};
}
img {
    margin-right: 10px;
    position: relative;
    width: 230px; 
    border-radius: 20px;
    animation: fadeAnimation 2s infinite alternate;
}

#intro {
    margin-bottom: 20px;
    text-align: center;
    
}
table{
    margin-left: 120px;
    border-collapse:collapse;
    width: 80%;
    border: 1px solid purple;
}
p{
    margin: 10px;
}
@media screen and (max-width: 1100px) {
    nav {
        width: 50%; 
    }
    nav a{
        padding: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
    width: 100%;
    margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .container {
    width: 100%;
    padding: 0 20px;
}
}
@media screen and (max-width: 480px) {
    .container {
    width: 20%;
    padding: 0 10px;
    margin: 0 auto;
}
}